<div class="container-fluid">
  <h1>Profile</h1>

  <label>{{username}}</label>
  <input [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="E-mail"
         class="form-control"/>
  <input [(ngModel)]="phone"
         placeholder="Phone Number"
         class="form-control"/>
  <input [(ngModel)]="address"
         placeholder="Address"
         class="form-control"/>
  <button (click)="update(username, firstName, lastName, phone, email, address)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      <div>
        {{enrollment.section.name}}
        ({{enrollment.section.seats}})
        <button *ngIf="sections.length === 0"
                (click)="unEnroll(enrollment.section)"
                class="btn btn-danger btn-block">Un-enroll</button>
      </div>
    </li>
  </ul>

  <div *ngIf="userId === '5b2739ec87da7566b04cd054'">
    <a routerLink="/home/{{userId}}">Admin Page</a>
  </div>
  <div *ngIf="userId !== '5b2739ec87da7566b04cd054'">
    <a routerLink="/home/{{userId}}">Home</a>
  </div>
  <a (click)="logout()">Logout</a>

</div>
